{% extends "index.html" %}

{% block title %} homepage {% endblock %}

{% block header %} 
    <li class="nav-item">
          <span class="navbar-text" id="turn-display">Turn: {{turn}}</span>
    </li>
    <li class="nav-item">
         <button type="button" class="btn btn-dark" id="back">Back</button>
    </li>
    <li class="nav-item">
        <button type="button" class="btn btn-dark" id="next">Next</button>
    </li>
{% endblock %}

{% block main %}



    <div class="row align-items-start ">
            <aside> 
                <div class="btn-group-vertical w-100" role="group" 
                     aria-label="Vertical button group" id="eco-buttons">
                
                </div>
            </aside>
    </div>
    <main>

        <h3 id="lv-exp">Level: 0 Exp: 0</h3>

        <h3> Traits </h3>
        <table id="traits-table">     
        </table>
    
        <h3> Stats </h3>
        <table id="stats-table"></table>

        <h3 id="move-h"> Moves </h3>
        <table id="moves-table">
        </table>

        <h3 id="brain">Brain</h3>
        <canvas id="basic-display" width="600" height="300"></canvas>
        <canvas id="encounter-display" width="600" height="300"></canvas>
        
    </main>

    <script>
        window.INITIAL_TURN = {{ turn }}; 
   </script>
   <script src="{{ url_for('static', filename='js/inspector.js') }}"></script>

{% endblock %}