{% extends "index.html" %}

{% block title %} organizer {% endblock %}

{% block main %}
<div class="col">
    <aside class ="bg-dark">
        <div id="input-displays"></div>
        <div class="row">
            <div class="btn-group" role="group">
                <button type="button" class="btn-dark" id="add-btn">+</button>
                <button type="button" class="btn-dark" id="sub-btn">-</button>
            </div>
        </div>
    </aside>
</div>
<main>
    <div class="col">
        <canvas id="graph-display" width="1000px" height="1000px"></canvas>
    </div>
    
</main>


    <script src="{{ url_for('static', filename='js/organizer.js') }}"></script>


{% endblock %}