{% extends "index.html" %}

{% block title %} organizer {% endblock %}

{% block main %}
<div class="col">
    <aside class ="bg-dark">
        <div id="input-displays"></div>
        <div class="row">
            <div class="btn-group" role="group">
                <button type="button" class="btn-dark" id="add-btn">+</button>
                <button type="button" class="btn-dark" id="sub-btn">-</button>
            </div>
        </div>
    </aside>
</div>
<main>
    <div class="col">
        <canvas id="graph-display" width="1000px" height="1000px"></canvas>
    </div>
    
</main>


    <script src="{{ url_for('static', filename='js/organizer.js') }}"></script>

    <style>
    body {
        padding-top: 60px;
    }

    aside {
        position: fixed;
        top: 60px;         
        bottom: 0;
        left: 0;
        width: 240px;
        overflow-y: auto;
        background-color: #212529;
        color: white;
        padding: 20px;
        border-right: 1px solid #444;
        z-index: 100;      
    }

    main {
        margin-left: 240px; 
        padding: 20px;
        min-height: calc(100vh - 60px); 
    }
</style>

{% endblock %}